{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/kayan/kayan_fav.png'  %}">
    <title>Kayan Wellness Center</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="{% static 'css/kayan.css'  %}?update=f" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<style>
  @font-face {
    font-family: bentonsans;
    src: url('{% static "fonts/BentonSans ExtraComp Regular Regular.otf" %}') format('opentype');
   
}
label{
  color: white;
}
</style>



  </head>




  <body style="background-color: #8B78AE;">

<div class="background">

<img  class="background-img" src="{% static "images/kayan/kayan new bg-01.jpg" %}" style="position: absolute; height:auto;">
<img class="background-img-mob" src="{% static "images/kayan/kayan event mobile size -2-01.jpg" %}">
<img class="back-img-1024" src="{% static "images/kayan/kayan_bg1024.jpg"  %}">

<form onsubmit="SubmitVapp(event)" >
<div class="row registration-card">
  <div class="d-flex justify-content-center">
<div class="col-md-6">
<div class="card shadow-lg " style="background-color: #8b78af; border: none;">
<div class="p-3">
<div class="row">
<div class="col-md-12">
<h1 class="text-center text-white">
    Register For Vehicle Pass
</h1>
</div>
</div>

<div class="row mt-5">

<div class="col-md-6">
<label class="text-white">FIRST NAME</label>
<input class="form-control" name="first-name" type="text" required />
</div>

    
<div class="col-md-6">
<label class="text-white">LAST NAME</label>
<input class="form-control" type="text" name="last-name" required />
</div>


<div class="col-md-6 mt-2">
    <label class="text-white">MOBILE</label>
    <input class="form-control" type="number" name="mobile" required />
    </div>


    <div class="col-md-6 mt-2">
        <label class="text-white">EMAIL</label>
        <input class="form-control" type="email" name="email" required />
        </div>

        

        <div class="col-md-6 mt-2">
          <label>VEHICLE PLATE NUMBER</label>
          <input type="text" class="form-control" name="vehicle-plate-number" required>
          </div>

          <div class="col-md-6 mt-2">
            <label>COMPANY NAME</label>
            <input type="text" class="form-control" name="company" required>
            </div>

            <div class="col-md-6 mt-2">
                <label class="text-white">CATEGORY </label>
                
                <select name="card-type" class="form-select" >

                    <option class="text-muted" selected disabled >Select Category</option>
                    {% for card in vapp_cards %}
                    <option value="{{card.id}}">{{card.name}}</option>
                    {% endfor %}
                  
                </select>
                
                </div>

                <div class="col-md-6 mt-2">
                  <label>VEHICLE TYPE</label>
                  <select class="form-select" name="vehicle-type" required>
                    <option value="" disabled selected>Select Vehicle Type</option>
                    {% for type in vehicle_types %}
                    <option value="{{type.id}}">{{type.name}}</option>
                    {% endfor %}
                  </select>
                          </div>

                          <div class="col-md-6 mt-2">
                            <label>VEHICLE PASS/MULKIYA</label>
                            <input type="file" class="form-control validate-file" name="vehicle-pass" required accept="image/*">
                            <div class="text-mute" style="" >
                              <span class="ml-3" style="color: #97c8bc ; letter-spacing: 1.6px;">*ONLY JPEG FORMAT <span style="color: rgb(255, 255, 255);">( MAX FILE SIZE IS 3MB )</span></span>
                                                                  </div>       
                            </div>

                        <div class="col-md-6 mt-2">
              <label>UPLOAD EMIRATES ID FRONT</label>
              <input type="file" class="form-control validate-file" name="id-proof-front-file" accept="image/*" required>
              <div class="text-mute" style="">
                <span class="ml-3" style="color: #97c8bc ; letter-spacing: 1.6px;">*ONLY JPEG FORMAT <span style="color: rgb(255, 255, 255);">( MAX FILE SIZE IS 3MB )</span></span>
                                                    </div>      
            
            </div>
               

            <div class="col-md-6 mt-2">
              <label>UPLOAD EMIRATES ID BACK</label>
              <input type="file" class="form-control validate-file" name="id-proof-back-file" accept="image/*" required>
              <div class="text-mute" style="">
                <span class="ml-3" style="color: #97c8bc ; letter-spacing: 1.6px;">*ONLY JPEG FORMAT <span style="color: rgb(255, 255, 255);">( MAX FILE SIZE IS 3MB )</span></span>
                                                    </div>        
            </div>
                            
          
            <div class="col-md-6 mt-2">
              <label>EMIRATES ID EXPIRY DATE</label>
              <input type="date" class="form-control expiry-check extra-validation" name="id-expiry-date" required>
              <span class="id-expiry-date-is-not-valid d-none ml-2" style="color: rgb(255, 255, 255);">  Expired </span>
                      </div>
                                              
            

                      <div class="col-md-6 mt-2">
                        <label>DELIVERY DATE</label>
                        <input type="date" class="form-control" name="delivery-date" required>
                                </div>


</div>
<div class="row">
<div class="col-md-6 mt-3">
<button type="submit" class="btn-submit btn btn-primary btn-lg w-100">SUBMIT</button>
</div>
<div class="col-md-6 mt-3">
    <button type="button" class="btn-rst btn btn-danger btn-lg w-100 form-reset-btn">RESET</button>
    </div>
</div>




</div>

</div>
    </div>
</div>
</div>
</form>



</div>


<div class="modal fade"  id="imageCropModal" tabindex="-1" role="dialog" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content text-white" style="background-color: black;">
        <div class="modal-header" style="border-bottom: none ;">
          <h5 class="modal-title" id="imageCropModalLabel">Crop Image</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body" >
          <div style="display: inline-block;" id="cropper-container">
            <img id="uploaded-image" src="" alt="Uploaded Image">
            
          </div>
          <div class="crop_cont" style="display: inline-block; position: absolute; padding: 50px;">
            <p style="font-size: 20px;">Please crop the image as you want in badge</p>
          </div>

        </div>
        <div class="modal-footer" style="border-top: none;">
          <button type="button" class="btn btn-light btn-lg" onclick="cropImage()">Done</button>
          <button type="button" class="btn btn-danger btn-lg" onclick="cancelCrop()" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
   <script>
        const csrf_token='{{csrf_token}}'
    </script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="{% static 'js/registration.js' %}"></script>

</body>

</html>
