<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>INFOEVENTZ-LOGIN</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/info_logo.png' %}" />
  
  <link
  rel="stylesheet"
  href="{% static 'css/mystyle.css' %}"
 
/>



</head>

<body style="background-color:seashell;">
  <div class="container-scroller">
 


<!-- checkin or checkout start-->


<div class="container">
<div class="row">

<div class="col-md-3">
    <img class="img-fluid" src="{% static 'images/guestech/logo1.png' %}" style="width: 100%;">
</div>

<div class="col-md-8">


<div class="d-flex flex-row bd-highlight mb-3 mt-2" style="float: right; background-color: #a1fffe33;">
   
    <div class="p-2 bd-highlight"><img class="img-fluid " src="https://tcap.pbworks.com/f/1435170280/myAvatar.png" style="width: 35px; border-radius: 50%;"></div>
    <div class="p-1 bd-highlight mt-3 pr-2" style="font-size: 12px; font-weight: bold;">ADMIN</div>
   
  </div>
  <div class="d-flex flex-row bd-highlight mb-3 mt-2" style="float: right;">
   
    <div class="p-2 bd-highlight">


    </div>

   
  </div>

</div>



</div>
</div>

<!-- total count start -->
<div class="container">
    <div class="row mt-5 mb-5">
    
<div class="col-md-6">
    <h4>Report</h4>

</div>
<div class="col-md-6">
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">Add Room</button>
</div>

    <div class="col-md-12">
    <div class="row">
        <div class="col-md-3 mt-2">
            <div class="card shadow" style="border-radius: 5px !important;">
                <div class="p-3">
                    <p class="text-muted mt-2" style="font-size: 18px; font-weight: bold; border-bottom: 1px solid rgb(177, 173, 173);">TOTAL ENTRY</p>
                    
                <h5 class="text-success mt-1" style="font-weight: bold;">Checkin</h5>
                <div style="background-color: rgba(0, 255, 13, 0.315); padding: 5px;">
                    <h4 class="" id="admin-total-check-in" >5600</h4>
                </div>
                <h5 class="text-danger mt-1" style="font-weight: bold;">Checkout</h5>
                <div style="background-color: rgba(255, 0, 0, 0.315); padding: 5px;">
                    <h4 id="admin-total-check-out">5600</h4>
                </div>
                <span class="text-muted" style="font-size: 10px; ">Guestech 2024</span>
                </div>
                </div>
        </div>
    
    {% for room in rooms %}
    
    <div class="col-md-3 mt-2" room-id="{{room.id}}">
        <div class="card shadow" style="border-radius: 5px !important;">
            <div class="p-3">
                <p class="mt-2" style="color: slateblue; font-size: 18px; font-weight: bold; border-bottom: 1px solid rgb(177, 173, 173);">{{room.name}}</p>
                
            <h5 class="text-success mt-1" style="font-weight: bold;">Checkin</h5>
            <div style="background-color: rgba(0, 255, 13, 0.315); padding: 5px;">
                <h4 class="" id="total-check-in">{{room.total_check_in}}</h4>
            </div>
            <h5 class="text-danger mt-1" style="font-weight: bold;">Checkout</h5>
            <div style="background-color: rgba(255, 0, 0, 0.315); padding: 5px;">
                <h4 id="total-check-out">{{room.total_check_out}}</h4>
            </div>
            <span class="text-muted" style="font-size: 10px; ">Guestech 2024</span>
            </div>
            </div>
    </div>
    
    {% endfor %}
    <!-- <div class="col-md-6 mt-2">
        <div class="card shadow">
            <div class="p-3">
            <h3 class="" style="font-weight: bold;">Total Count</h3>
            </div>
            </div>
    </div> -->
    
    
    </div>
    
    
    
    
    
    </div>
    

    
    </div>
    
    </div>





<!-- total count end -->


<!-- checkin or checkout end -->


  </div>

<footer style="padding: 10px; position: relative; bottom: 0px; background-color: white; width: 100%;">
    <h6 class="text-center mt-2" style="color: rgba(165, 42, 42, 0.507);">ALL RIGHT RESERVED</h6>
</footer>


<!-- modal start here -->



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Room</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
<div class="row">

<div class="col-md-12">
<label>New Room Name</label>
<input type="text" id="room-name-inp" class="form-control">
</div>

</div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="add-room-submit-btn">Add Room</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>


  <script>


    setInterval(() => {
      get_latest_dashboard_data()
    }, 5000);

    
    function get_latest_dashboard_data() {
      $.ajax({
        type: "GET",
        url: "{% url 'get-latest-admin-dashboard-page' %}",
        dataType: "json",
        success: function (response) {
         
          if (response.success){

     

          response.rooms.forEach(room => {
            
            let room_parent=$(`[room-id=${room.id}]`)
            
            
            check_and_update(room_parent.find('#total-check-in'),room.total_check_in)
            check_and_update(room_parent.find('#total-check-out'),room.total_check_out)
            
          });

          check_and_update($('#admin-total-check-in'),response.total_entry.check_in)
          check_and_update($('#admin-total-check-out'),response.total_entry.check_out)
          
        }

        }
      });

    }

    function check_and_update(elm,new_data) {
      
      old_data=elm.text()
      
      if (old_data != new_data.toString()){
        elm.delay(100).fadeOut().fadeIn('slow')
        setTimeout(() => {
          elm.html(new_data)
        }, 400);
        
        
      }

    }

  </script>
  <script>
  
  $('#add-room-submit-btn').click(function () {
      let room_name = $('#room-name-inp').val()
      
      if (room_name == '' ){
        alert('please fil room name input')
        return false
      }

      $.ajax({
        type: "POST",
        url: "{% url 'add-room-in-dashboard' %}",
        data: {"room-name":room_name,'csrfmiddlewaretoken':'{{csrf_token}}'},
        dataType: "json",
        success: function (response) {
          
          if (response.success){
            $('#room-name-inp').val('')
            window.location.reload()

          }

        }
      });
    })
  
  </script>
  <!-- endinject -->
</body>

</html>
