<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>INFOEVENTZ VOLUNTEER</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/info_logo.png' %}" />
  
  <link
  rel="stylesheet"
  href="{% static 'css/mystyle.css' %}"
 
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>

<body style="background-color:seashell;">
  <div id="body-container" class="container-scroller">
 


<!-- checkin or checkout start-->





<div class="container">
<div class="row">

<div class="col-md-3">
    <img class="img-fluid" src="{% static 'images/guestech/logo1.png' %}" style="width: 100%;">
</div>

<div class="col-md-8">
    <a href="{% url 'logout' %}" class="btn btn-danger mt-4" style="float: right;">LOGOUT <img src="{% static 'images/guestech/power-off.png' %}" style="margin-top:-3px;"></a>

<button class="btn btn-secondary text-white mt-4 mr-4 " id="on-click-fullscreen" style="float: right;">Open Fullscreen <svg xmlns="http://www.w3.org/2000/svg" style="width: 12px;" class="mx-1" viewBox="0 0 448 512"><path fill="#ffffff" d="M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z"/></svg></button>
<p class="btn btn-info text-white mt-4 mr-4 disabled text-capitalize" style="float: right; font-size: medium;" id="page-identifier">Loading ...</p>
</div>



</div>
</div>

<!-- total count start -->
<div class="container">
<div class="row mt-5">

<div class="col-md-6">
<div class="row">


<div class="col-md-6 mt-2">
    <div class="card shadow" style="border-radius: 5px !important;">
        <div class="p-3">
            <span class="text-muted" style="font-size: 10px; ">Guestech 2024</span>
        <h4 class="text-primary mt-1" style="font-weight: bold;">Checkin</h4>
        <div style="background-color: rgba(0, 0, 255, 0.315); padding: 10px;">
            <h3 id="total-check-in" class="text-capitalize">Loading...</h3>
        </div>
        <p class="text-muted mt-2 dashboard-room-name"></p>
        </div>
        </div>
</div>


<div class="col-md-6 mt-2">
    <div class="card shadow" style="border-radius: 5px !important;">
        <div class="p-3">
            <span class="text-muted" style="font-size: 10px; ">Guestech 2024</span>
        <h4 class="text-primary mt-1" style="font-weight: bold;">Checkout</h4>
        <div style="background-color: rgba(0, 0, 255, 0.315); padding: 10px;">
            <h3 id="total-check-out" class="text-capitalize">Loading...</h3>
        </div>
        <p class="text-muted mt-2 dashboard-room-name"></p>
        </div>
        </div>
</div>


<!-- <div class="col-md-6 mt-2">
    <div class="card shadow">
        <div class="p-3">
        <h3 class="" style="font-weight: bold;">Total Count</h3>
        </div>
        </div>
</div> -->


</div>





</div>

<div class="col-md-6">

<div class="card shadow mb-5">

<!-- entry success start -->

<div class="d-none" id="success-div">

<div class="w-100" style="background-color: green;">
<div class="d-flex justify-content-center">
<img class="img-fluid" src=" {% static 'images/guestech/achievement.png' %}">
</div>
</div>
<div class="p-3 ">
<h2 class="text-center" id="scanned-id-name">Name</h2>
<h3 class="text-center text-success">Successfully <div class="room_status_name"></div> To <p id="scanned-room-name"></p></h3>


</div>
</div>


<!-- entry success end -->

<div class="p-3 mb-3" id="scanning-div">

<img class="img-fluid" id="check-status-image-dashboard" src="{% static 'images/dashboard/check out image-01-min.jpg' %}" style="height: 380px; width: 100%;">


</div>


</div>


</div>


</div>

</div>


<!-- total count end -->


<!-- checkin or checkout end -->

  </div>

<footer style="padding: 10px; position: absolute; bottom: 0px; background-color: white; width: 100%;">
    <h6 class="text-center mt-2" style="color: rgba(165, 42, 42, 0.507);">ALL RIGHT RESERVED</h6>
</footer>


<script src="{% static 'js/onscan.min.js' %}"></script>

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

  <script>
    const room_id=localStorage.getItem('room-id')
    const check_status=localStorage.getItem('check-id')
    // console.log('Awdad');
 

    onScan.attachTo(document, {
        minLength:3,// enter-key expected at the end of a scan
        reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
        onScan: function(sCode, iQty) { // Alternative to document.addEventListener('scan')
            
            addEntry(sCode)
        },
        onKeyDetect: function(iKeyCode){ // output all potentially relevant key events - great for debugging!
            
        }
    });

    let last_check_id=''
    function addEntry(sCode) {
        if (last_check_id == sCode){
            console.log('already checked');
        }else{
            last_check_id=sCode
        }
        _data={'room-id':room_id,'check-status':check_status,'evp-id':sCode,'csrfmiddlewaretoken':'{{csrf_token}}'}
            
         $.ajax({
                type: "POST",
                url: "{% url 'check-in-and-check-out-entry' %}",
                data: _data,
                dataType: "json",
                success: function (response) {
                 
                    if (response.status){

                        $('#success-div').removeClass('d-none')
                        $('#scanning-div').addClass('d-none')
                    
                        $('#scanned-id-name').text(response.registration.name)
                        $('#scanned-room-name').text(response.room.name)
                    }else{
                          Swal.fire({
                            position: "center",
                            icon: "error",
                            title:response.reason != '' ? response.reason : "Card is not valid",
                            showConfirmButton: false,
                            timer: 1000
                        });
                    }
                    setTimeout(() => {
                            $('#scanning-div').removeClass('d-none')
                            $('#success-div').addClass('d-none')
                    }, 5000);
                },
                error : function (error) {
                    Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "Please check the internet connection",
                    });
                 }
            });
    }

    get_latest_dashboard(true)
    setInterval(() => {
        
        get_latest_dashboard(false)

    }, 5000);

    function get_latest_dashboard(loading_first=false) {
        $.ajax({
            type: "GET",
            url: "{% url 'get-latest-data-dashboard' %}",
            data:{'room-id':room_id,'loading-first':loading_first} ,
            dataType: "json",
            success: function (response) {
               
                if (response.success){


                    check_and_update( $('#total-check-out'),response.entries['total-check-out'])
                    check_and_update( $('#total-check-in'),response.entries['total-check-in'])


                    if (loading_first){
                        $('.dashboard-room-name').text(response.room['name'])
                        let room_status_name=''
                        if (check_status == 1){
                            room_status_name='Check In'
                        }else{
                            room_status_name='Check Out'
                        }
                        $('.room_status_name').text(room_status_name)
                        $('#page-identifier').text(`${response.room['name']} ${room_status_name}`)
                    }
                }
            }
        });
    }
    

    function check_and_update(elm,new_data) {
      
      old_data=elm.text()
      
      if (old_data != new_data.toString()){
        elm.delay(100).fadeOut().fadeIn('slow')
  
        setTimeout(() => {
          elm.html(new_data)
        }, 400);
        
        
      }

    }


    if (document.addEventListener)
        {
        document.addEventListener('fullscreenchange', onChangeFullScreen, false);
        document.addEventListener('mozfullscreenchange', onChangeFullScreen, false);
        document.addEventListener('MSFullscreenChange', onChangeFullScreen, false);
        document.addEventListener('webkitfullscreenchange', onChangeFullScreen, false);
        }

    if (check_status == 1 ){
        $('#check-status-image-dashboard').attr('src','/static/images/dashboard/check in image-01-min.jpg')
    }else{
        $('#check-status-image-dashboard').attr('src','/static/images/dashboard/check out image-01-min.jpg')
    }
   function onChangeFullScreen (on_system=true){
    if(window.innerHeight == screen.height) {
        if (on_system == false){
            document.exitFullscreen()
        }
        $('#on-click-fullscreen').html('Exit Fullscreen  <svg xmlns="http://www.w3.org/2000/svg" style="width: 12px;" class="mx-1" viewBox="0 0 448 512"><path fill="#ffffff" d="M160 64c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V64zM32 320c-17.7 0-32 14.3-32 32s14.3 32 32 32H96v64c0 17.7 14.3 32 32 32s32-14.3 32-32V352c0-17.7-14.3-32-32-32H32zM352 64c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V64zM320 320c-17.7 0-32 14.3-32 32v96c0 17.7 14.3 32 32 32s32-14.3 32-32V384h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H320z"/></svg>')
    } else {
        $('#on-click-fullscreen').html('Open Fullscreen  <svg xmlns="http://www.w3.org/2000/svg" style="width: 12px;" class="mx-1" viewBox="0 0 448 512"><path fill="#ffffff" d="M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z"/></svg>')
        if (on_system == false){
            document.body.requestFullscreen()
        }
       
    }

   }

    $('#on-click-fullscreen').click(function(){

        onChangeFullScreen(false)

        
    })



 </script>
</html>
